In [1]:
import sqlalchemy
import pandas as pd
import numpy as np
import functools
def read_sql(stmt):
    """ create a table from the sql statement
    :param conn: Connection object
    :param create_table_sql: sql statement
    :return:
    """
    engine = sqlalchemy.create_engine("mysql://admin:M0ZtDjLgAmj8D0LzAksT@cx4242.c55yrwcgiytm.us-east-1.rds.amazonaws.com/cx4242")
    with engine.connect() as conn:   
        try:
            r = pd.read_sql(stmt, conn)
            return r

        except Exception as e:
            print(e)

In [ ]:
read_sql("select starttime from citibike where starttime > \"4-8-2019\" and stoptime < \"4-9-2019\" limit 5")

In [12]:
read_sql("create index citibike_start_lng on citibike(`start station longitude`)")

This result object does not return rows. It has been closed automatically.

In [15]:
read_sql("create index citibike_end_lng on citibike(`end station longitude`)")

(MySQLdb._exceptions.OperationalError) (1061, "Duplicate key name 'citibike_end_lng'")
[SQL: create index citibike_end_lng on citibike(`end station longitude`)]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [23]:
read_sql("select min(month) from uber")

   min(month)
0           4

In [10]:
read_sql("explain select tripduration, starttime, stoptime, `start station name`, `end station name` from citibike where starttime > '2019-4-8' and stoptime < '2019-4-9' and `start station latitude` > 40.55459689980922 and `start station latitude` < 40.75459689980922 and `start station longitude` > -74.07953033447266 and `start station longitude` < -73.87953033447268 and `end station latitude` > 40.55355504328842 and `end station latitude` < 40.75355504328842 and `end station longitude` > -74.0046859741211 and `end station longitude` < -73.80468597412111 limit 500")

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,citibike,None,range,"citibike_start,citibike_stop",citibike_start,6,None,14857610,0.01,Using index condition; Using where

In [8]:
year = 2019
month = 6
day = 20
start_lat = 40.65459689980922
start_lng = -73.97953033447267
end_lat =  40.65355504328842
end_lng = -73.90468597412111
start_lat = 40.65459689980922
start_lng = -73.97953033447267
end_lat =  40.65355504328842
end_lng = -73.90468597412111
delta=0.1
max_start_lat = start_lat + delta
min_start_lat = start_lat - delta
max_start_lng = start_lng + delta
min_start_lng = start_lng - delta
max_end_lat = end_lat + delta
min_end_lat = end_lat - delta
max_end_lng = end_lng + delta
min_end_lng = end_lng - delta
read_sql("select tripduration, starttime, stoptime, `start station name`, `end station name` from citibike where starttime > '{}-{}-{}' and stoptime < '{}-{}-{}' and `start station latitude` > {} and `start station latitude` < {} and `start station longitude` > {} and `start station longitude` < {}  \
                    and `end station latitude` > {} and `end station latitude` < {} and `end station longitude` > {} and `end station longitude` < {} limit 500".format(year, month, day, year, month, day+1, min_start_lat, max_start_lat, min_start_lng, max_start_lng, min_end_lat, max_end_lat, min_end_lng, max_end_lng, ))

,tripduration,starttime,stoptime,start station name,end station name
0,1203,2019-06-20 00:00:11,2019-06-20 00:20:15,S 3 St & Bedford Ave,Putnam Ave & Nostrand Ave
1,1645,2019-06-20 00:00:17,2019-06-20 00:27:42,E 16 St & 5 Ave,Hope St & Union Ave
2,1175,2019-06-20 00:00:18,2019-06-20 00:19:53,W 20 St & 8 Ave,E 9 St & Avenue C
3,720,2019-06-20 00:00:19,2019-06-20 00:12:19,Underhill Ave & Lincoln Pl,Congress St & Clinton St
4,1491,2019-06-20 00:00:19,2019-06-20 00:25:10,6 St & 7 Ave,Monroe St & Bedford Ave
...,...,...,...,...,...
495,3522,2019-06-20 02:18:28,2019-06-20 03:17:10,Cedar St & Myrtle Ave,Canal St & Rutgers St
496,98,2019-06-20 02:19:24,2019-06-20 02:21:03,Willoughby Ave & Hall St,Lafayette Ave & St James Pl
497,1266,2019-06-20 02:20:32,2019-06-20 02:41:38,9 Ave & W 18 St,W 27 St & 10 Ave
498,1885,2019-06-20 02:20:42,2019-06-20 02:52:08,9 Ave & W 28 St,Clark St & Henry St
499,411,2019-06-20 02:20:56,2019-06-20 02:27:47,Verona Pl & Fulton St,Greene Ave & Throop Ave

In [ ]:
read_sql("ALTER TABLE citibike CHANGE `start station longitude` start_longitude float;")

In [405]:
processes

,Id,User,Host,db,Command,Time,State,Info
0,2,rdsadmin,localhost:42806,None,Sleep,11,,None
1,331039,admin,172.31.36.235:51594,cx4242,Sleep,86,,None
2,331590,admin,172.31.36.235:52706,cx4242,Sleep,76,,None
3,332152,admin,172.31.36.235:53840,cx4242,Sleep,64,,None
4,332801,admin,172.31.36.235:55158,cx4242,Sleep,52,,None
...,...,...,...,...,...,...,...,...
189,335569,unauthenticated user,172.31.36.235:60774,None,Connect,0,login,None
190,335570,unauthenticated user,172.31.36.235:60776,None,Connect,0,login,None
191,335571,unauthenticated user,172.31.36.235:60778,None,Connect,0,login,None
192,335572,unauthenticated user,172.31.36.235:60780,None,Connect,0,login,None
193,335573,unauthenticated user,172.31.36.235:60782,None,Connect,0,login,None

In [403]:
[read_sql("kill {}".format(pid)) for pid in processes["Id"]]

(MySQLdb._exceptions.OperationalError) (1095, 'You are not owner of thread 2')
[SQL: kill 2]
(Background on this error at: http://sqlalche.me/e/e3q8)
This result object does not return rows. It has been closed automatically.
This result object does not return rows. It has been closed automatically.
This result object does not return rows. It has been closed automatically.
This result object does not return rows. It has been closed automatically.
This result object does not return rows. It has been closed automatically.
This result object does not return rows. It has been closed automatically.
This result object does not return rows. It has been closed automatically.
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329918')
[SQL: kill 329918]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329922')
[SQL: kill 329922]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329927')
[SQL: kill 329927]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329929')
[SQL: kill 329929]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329930')
[SQL: kill 329930]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329931')
[SQL: kill 329931]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329932')
[SQL: kill 329932]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329933')
[SQL: kill 329933]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329934')
[SQL: kill 329934]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329935')
[SQL: kill 329935]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329936')
[SQL: kill 329936]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329937')
[SQL: kill 329937]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329938')
[SQL: kill 329938]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329939')
[SQL: kill 329939]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329940')
[SQL: kill 329940]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329941')
[SQL: kill 329941]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329942')
[SQL: kill 329942]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329943')
[SQL: kill 329943]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329944')
[SQL: kill 329944]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329945')
[SQL: kill 329945]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329947')
[SQL: kill 329947]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329948')
[SQL: kill 329948]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329949')
[SQL: kill 329949]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329950')
[SQL: kill 329950]
(Background on this error at: http://sqlalche.me/e/e3q8)
This result object does not return rows. It has been closed automatically.
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329955')
[SQL: kill 329955]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329956')
[SQL: kill 329956]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329957')
[SQL: kill 329957]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329959')
[SQL: kill 329959]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329964')
[SQL: kill 329964]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329965')
[SQL: kill 329965]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329966')
[SQL: kill 329966]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329967')
[SQL: kill 329967]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329968')
[SQL: kill 329968]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329969')
[SQL: kill 329969]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329971')
[SQL: kill 329971]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329972')
[SQL: kill 329972]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329974')
[SQL: kill 329974]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329975')
[SQL: kill 329975]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329976')
[SQL: kill 329976]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329977')
[SQL: kill 329977]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329978')
[SQL: kill 329978]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329979')
[SQL: kill 329979]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329980')
[SQL: kill 329980]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329981')
[SQL: kill 329981]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329982')
[SQL: kill 329982]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329983')
[SQL: kill 329983]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329984')
[SQL: kill 329984]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329985')
[SQL: kill 329985]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329986')
[SQL: kill 329986]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329987')
[SQL: kill 329987]
(Background on this error at: http://sqlalche.me/e/e3q8)

(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329988')
[SQL: kill 329988]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329989')
[SQL: kill 329989]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329990')
[SQL: kill 329990]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329991')
[SQL: kill 329991]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 329999')
[SQL: kill 329999]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330001')
[SQL: kill 330001]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330002')
[SQL: kill 330002]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330003')
[SQL: kill 330003]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330005')
[SQL: kill 330005]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330006')
[SQL: kill 330006]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330007')
[SQL: kill 330007]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330008')
[SQL: kill 330008]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330009')
[SQL: kill 330009]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330010')
[SQL: kill 330010]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330011')
[SQL: kill 330011]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330012')
[SQL: kill 330012]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330013')
[SQL: kill 330013]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330014')
[SQL: kill 330014]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330015')
[SQL: kill 330015]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330016')
[SQL: kill 330016]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330017')
[SQL: kill 330017]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330018')
[SQL: kill 330018]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330019')
[SQL: kill 330019]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330020')
[SQL: kill 330020]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330021')
[SQL: kill 330021]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330022')
[SQL: kill 330022]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330023')
[SQL: kill 330023]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330024')
[SQL: kill 330024]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330025')
[SQL: kill 330025]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330026')
[SQL: kill 330026]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330032')
[SQL: kill 330032]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330034')
[SQL: kill 330034]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330036')
[SQL: kill 330036]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330037')
[SQL: kill 330037]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330038')
[SQL: kill 330038]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330039')
[SQL: kill 330039]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330040')
[SQL: kill 330040]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330041')
[SQL: kill 330041]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330042')
[SQL: kill 330042]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330043')
[SQL: kill 330043]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330044')
[SQL: kill 330044]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330045')
[SQL: kill 330045]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330046')
[SQL: kill 330046]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330047')
[SQL: kill 330047]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330048')
[SQL: kill 330048]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330049')
[SQL: kill 330049]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330050')
[SQL: kill 330050]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330051')
[SQL: kill 330051]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330052')
[SQL: kill 330052]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330053')
[SQL: kill 330053]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330054')
[SQL: kill 330054]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330055')
[SQL: kill 330055]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330056')
[SQL: kill 330056]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330057')
[SQL: kill 330057]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330058')
[SQL: kill 330058]
(Background on this error at: http://sqlalche.me/e/e3q8)

(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330059')
[SQL: kill 330059]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330068')
[SQL: kill 330068]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330075')
[SQL: kill 330075]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330077')
[SQL: kill 330077]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330078')
[SQL: kill 330078]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330079')
[SQL: kill 330079]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330080')
[SQL: kill 330080]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330081')
[SQL: kill 330081]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330082')
[SQL: kill 330082]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330083')
[SQL: kill 330083]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330084')
[SQL: kill 330084]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330085')
[SQL: kill 330085]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330086')
[SQL: kill 330086]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330087')
[SQL: kill 330087]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330088')
[SQL: kill 330088]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330089')
[SQL: kill 330089]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330090')
[SQL: kill 330090]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330091')
[SQL: kill 330091]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330092')
[SQL: kill 330092]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330093')
[SQL: kill 330093]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330094')
[SQL: kill 330094]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330095')
[SQL: kill 330095]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330096')
[SQL: kill 330096]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330097')
[SQL: kill 330097]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330098')
[SQL: kill 330098]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330099')
[SQL: kill 330099]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330100')
[SQL: kill 330100]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330104')
[SQL: kill 330104]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330105')
[SQL: kill 330105]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330106')
[SQL: kill 330106]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330107')
[SQL: kill 330107]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330108')
[SQL: kill 330108]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330109')
[SQL: kill 330109]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330110')
[SQL: kill 330110]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330111')
[SQL: kill 330111]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330112')
[SQL: kill 330112]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330113')
[SQL: kill 330113]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330115')
[SQL: kill 330115]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330116')
[SQL: kill 330116]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330117')
[SQL: kill 330117]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330118')
[SQL: kill 330118]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330119')
[SQL: kill 330119]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330120')
[SQL: kill 330120]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330121')
[SQL: kill 330121]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330122')
[SQL: kill 330122]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330123')
[SQL: kill 330123]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330124')
[SQL: kill 330124]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330125')
[SQL: kill 330125]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330126')
[SQL: kill 330126]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330127')
[SQL: kill 330127]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330128')
[SQL: kill 330128]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330129')
[SQL: kill 330129]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330130')
[SQL: kill 330130]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330146')
[SQL: kill 330146]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330147')
[SQL: kill 330147]
(Background on this error at: http://sqlalche.me/e/e3q8)

(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330148')
[SQL: kill 330148]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330149')
[SQL: kill 330149]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330150')
[SQL: kill 330150]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330151')
[SQL: kill 330151]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330152')
[SQL: kill 330152]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330153')
[SQL: kill 330153]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330154')
[SQL: kill 330154]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330155')
[SQL: kill 330155]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330156')
[SQL: kill 330156]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330157')
[SQL: kill 330157]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330158')
[SQL: kill 330158]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330159')
[SQL: kill 330159]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330160')
[SQL: kill 330160]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330161')
[SQL: kill 330161]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330162')
[SQL: kill 330162]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330163')
[SQL: kill 330163]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330164')
[SQL: kill 330164]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330165')
[SQL: kill 330165]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330166')
[SQL: kill 330166]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330167')
[SQL: kill 330167]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330168')
[SQL: kill 330168]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330169')
[SQL: kill 330169]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330170')
[SQL: kill 330170]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330171')
[SQL: kill 330171]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330179')
[SQL: kill 330179]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330180')
[SQL: kill 330180]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330181')
[SQL: kill 330181]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330182')
[SQL: kill 330182]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330183')
[SQL: kill 330183]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330184')
[SQL: kill 330184]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330185')
[SQL: kill 330185]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330186')
[SQL: kill 330186]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330187')
[SQL: kill 330187]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330188')
[SQL: kill 330188]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330189')
[SQL: kill 330189]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330190')
[SQL: kill 330190]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330192')
[SQL: kill 330192]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330194')
[SQL: kill 330194]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330195')
[SQL: kill 330195]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330196')
[SQL: kill 330196]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330197')
[SQL: kill 330197]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330198')
[SQL: kill 330198]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330199')
[SQL: kill 330199]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330200')
[SQL: kill 330200]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330201')
[SQL: kill 330201]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330202')
[SQL: kill 330202]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330203')
[SQL: kill 330203]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330204')
[SQL: kill 330204]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330206')
[SQL: kill 330206]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330207')
[SQL: kill 330207]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330212')
[SQL: kill 330212]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330213')
[SQL: kill 330213]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330215')
[SQL: kill 330215]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330216')
[SQL: kill 330216]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330217')
[SQL: kill 330217]
(Background on this error at: http://sqlalche.me/e/e3q8)

(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330219')
[SQL: kill 330219]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330220')
[SQL: kill 330220]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330221')
[SQL: kill 330221]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330222')
[SQL: kill 330222]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330223')
[SQL: kill 330223]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330224')
[SQL: kill 330224]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330225')
[SQL: kill 330225]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330226')
[SQL: kill 330226]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330227')
[SQL: kill 330227]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330228')
[SQL: kill 330228]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330229')
[SQL: kill 330229]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330230')
[SQL: kill 330230]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330231')
[SQL: kill 330231]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330232')
[SQL: kill 330232]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330233')
[SQL: kill 330233]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330234')
[SQL: kill 330234]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330235')
[SQL: kill 330235]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330236')
[SQL: kill 330236]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330237')
[SQL: kill 330237]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330238')
[SQL: kill 330238]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330239')
[SQL: kill 330239]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330255')
[SQL: kill 330255]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330256')
[SQL: kill 330256]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330257')
[SQL: kill 330257]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330258')
[SQL: kill 330258]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330259')
[SQL: kill 330259]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330260')
[SQL: kill 330260]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330261')
[SQL: kill 330261]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330262')
[SQL: kill 330262]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330263')
[SQL: kill 330263]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330264')
[SQL: kill 330264]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330265')
[SQL: kill 330265]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330266')
[SQL: kill 330266]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330267')
[SQL: kill 330267]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330268')
[SQL: kill 330268]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330269')
[SQL: kill 330269]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330270')
[SQL: kill 330270]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330271')
[SQL: kill 330271]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330272')
[SQL: kill 330272]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330273')
[SQL: kill 330273]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330274')
[SQL: kill 330274]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330275')
[SQL: kill 330275]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330276')
[SQL: kill 330276]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330277')
[SQL: kill 330277]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330278')
[SQL: kill 330278]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330279')
[SQL: kill 330279]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330280')
[SQL: kill 330280]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330284')
[SQL: kill 330284]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330288')
[SQL: kill 330288]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330289')
[SQL: kill 330289]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330290')
[SQL: kill 330290]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330291')
[SQL: kill 330291]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330292')
[SQL: kill 330292]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330293')
[SQL: kill 330293]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330294')
[SQL: kill 330294]
(Background on this error at: http://sqlalche.me/e/e3q8)

(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330295')
[SQL: kill 330295]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330296')
[SQL: kill 330296]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330297')
[SQL: kill 330297]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330298')
[SQL: kill 330298]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330299')
[SQL: kill 330299]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330300')
[SQL: kill 330300]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330301')
[SQL: kill 330301]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330302')
[SQL: kill 330302]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330303')
[SQL: kill 330303]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330304')
[SQL: kill 330304]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330305')
[SQL: kill 330305]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330306')
[SQL: kill 330306]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330307')
[SQL: kill 330307]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330308')
[SQL: kill 330308]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330309')
[SQL: kill 330309]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330310')
[SQL: kill 330310]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330311')
[SQL: kill 330311]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330312')
[SQL: kill 330312]
(Background on this error at: http://sqlalche.me/e/e3q8)
(MySQLdb._exceptions.OperationalError) (1094, 'Unknown thread id: 330313')
[SQL: kill 330313]
(Background on this error at: http://sqlalche.me/e/e3q8)

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [363]:
read_sql("show tables")

  Tables_in_cx4242
0        OSM_nodes
1         OSM_ways
2         citibike
3             uber

In [39]:
import osmapi

In [40]:
api = osmapi.OsmApi()

In [44]:
read_sql("select count(*) from OSM_nodes")

   count(*)
0    105202

In [354]:
all_osm_nodes = read_sql("select osm_node_id from OSM_nodes where isnull(longitude)")

In [355]:
all_osm_nodes

    osm_node_id
0    5540345838
1    5540344280
2    5482762084
3    3656040954
4    3063065506
..          ...
583  5490527530
584  6166333237
585  5752807165
586    42428417
587  5482762102

[588 rows x 1 columns]

In [317]:
import multiprocessing as mp

In [318]:
manager = mp.Manager()
to_run = manager.Queue()

In [356]:
def run(in_q):
    for node_id in iter(in_q.get, None):
        try:
            node_data = api.NodeGet(node_id)
            print(node_data)
            read_sql("update OSM_nodes set latitude={}, longitude={} where osm_node_id={}".format(node_data["lat"], node_data["lon"], node_id))
        except Exception as e:
            print(e)

In [357]:
in_q = manager.Queue()
[in_q.put(node_id) for node_id in all_osm_nodes["osm_node_id"]]
[in_q.put(None) for i in range(20)]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [358]:
p = [mp.Process(target=run, args=(in_q,)) for i in range(20)]

In [359]:
[process.start() for process in p]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''

Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''

Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''
Request failed: 410 - Gone - b''

In [351]:
in_q.qsize()

0

In [64]:
for id in all_osm_nodes["osm_node_id"]:
    print(id)
    try:
        node_data = api.NodeGet(id)
        print(node_data)
        read_sql("update OSM_nodes set latitude={}, longitude={} where osm_node_id={}".format(node_data["lat"], node_data["lon"], id))
    except Exception as e:
        print(e)

5540345838
Request failed: 410 - Gone - b''
42913619
{'id': 42913619, 'visible': True, 'version': 7, 'changeset': 69493147, 'timestamp': datetime.datetime(2019, 4, 23, 15, 12, 3), 'user': 'TheBestIdea', 'uid': 298513, 'lat': 40.7818796, 'lon': -73.9093705, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42996604
{'id': 42996604, 'visible': True, 'version': 3, 'changeset': 3426638, 'timestamp': datetime.datetime(2009, 12, 22, 12, 23, 6), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.5778659, 'lon': -74.1905376, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42516255
{'id': 42516255, 'visible': True, 'version': 3, 'changeset': 18015442, 'timestamp': datetime.datetime(2013, 9, 24, 19, 37, 19), 'user': 'wegavision', 'uid': 564585, 'lat': 40.6919497, 'lon': -73.9398284, 'tag': {}}
This result object does not return rows. It has been closed automatically.
277670358
{'id': 277670358, 'visible': True, 'version': 2, 'changeset': 36494109, 'timestamp': datetime.datetime(2016, 1, 11, 0, 1, 31), 'user': 'BlaueBlüte', 'uid': 238370, 'lat': 40.7274797, 'lon': -73.8313447, 'tag': {}}
This result object does not return rows. It has been closed automatically.
43001018
{'id': 43001018, 'visible': True, 'version': 2, 'changeset': 3426638, 'timestamp': datetime.datetime(2009, 12, 22, 12, 24, 31), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.612304, 'lon': -74.072237, 'tag': {}}
This result object does not return rows. It has been closed automatically.
3914862593
{'id': 3914862593, 'visible': True, 'version': 2, 'changeset': 38845400, 'timestamp': datetime.datetime(2016, 4, 25, 1, 18, 38), 'user': 'wambag', 'uid': 326503, 'lat': 40.7047334, 'lon': -74.0150062, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42955427
{'id': 42955427, 'visible': True, 'version': 2, 'changeset': 3426638, 'timestamp': datetime.datetime(2009, 12, 22, 12, 14, 20), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.538659, 'lon': -74.183412, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42435894
{'id': 42435894, 'visible': True, 'version': 3, 'changeset': 14905395, 'timestamp': datetime.datetime(2013, 2, 4, 5, 27, 5), 'user': 'Eliyak', 'uid': 439046, 'lat': 40.827877, 'lon': -73.938237, 'tag': {'highway': 'traffic_signals'}}
This result object does not return rows. It has been closed automatically.
42447278
{'id': 42447278, 'visible': True, 'version': 3, 'changeset': 3396277, 'timestamp': datetime.datetime(2009, 12, 17, 21, 44, 2), 'user': 'NE2', 'uid': 207745, 'lat': 40.7960892, 'lon': -73.9633482, 'tag': {}}
This result object does not return rows. It has been closed automatically.
248606976
{'id': 248606976, 'visible': True, 'version': 4, 'changeset': 7958070, 'timestamp': datetime.datetime(2011, 4, 25, 0, 11, 42), 'user': 'will l', 'uid': 35195, 'lat': 40.700483, 'lon': -73.9853171, 'tag': {}}
This result object does not return rows. It has been closed automatically.
4612599677
{'id': 4612599677, 'visible': True, 'version': 1, 'changeset': 45224799, 'timestamp': datetime.datetime(2017, 1, 16, 19, 50, 26), 'user': 'piligab', 'uid': 3877019, 'lat': 40.7236879, 'lon': -73.8147213, 'tag': {'highway': 'turning_circle'}}
This result object does not return rows. It has been closed automatically.
42518942
{'id': 42518942, 'visible': True, 'version': 2, 'changeset': 2155102, 'timestamp': datetime.datetime(2009, 8, 15, 16, 19, 25), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.66321, 'lon': -73.870376, 'tag': {}}
This result object does not return rows. It has been closed automatically.
1909472710
{'id': 1909472710, 'visible': True, 'version': 1, 'changeset': 13064364, 'timestamp': datetime.datetime(2012, 9, 11, 3, 8, 6), 'user': 'ingalls', 'uid': 305985, 'lat': 40.651932, 'lon': -73.8688063, 'tag': {}}
This result object does not return rows. It has been closed automatically.
4353625028
{'id': 4353625028, 'visible': True, 'version': 1, 'changeset': 41507787, 'timestamp': datetime.datetime(2016, 8, 17, 9, 8, 5), 'user': 'Юкатан', 'uid': 3885962, 'lat': 40.7913102, 'lon': -73.8851017, 'tag': {}}
This result object does not return rows. It has been closed automatically.
2692181864
{'id': 2692181864, 'visible': True, 'version': 1, 'changeset': 20802480, 'timestamp': datetime.datetime(2014, 2, 27, 4, 29, 28), 'user': 'lxbarth', 'uid': 589596, 'lat': 40.6245845, 'lon': -74.129928, 'tag': {}}
This result object does not return rows. It has been closed automatically.
277481443
{'id': 277481443, 'visible': True, 'version': 10, 'changeset': 59680958, 'timestamp': datetime.datetime(2018, 6, 8, 23, 30, 2), 'user': 'Unggo99', 'uid': 7513947, 'lat': 40.7978661, 'lon': -73.9198269, 'tag': {'highway': 'motorway_junction', 'ref': '46'}}
This result object does not return rows. It has been closed automatically.
42487619
{'id': 42487619, 'visible': True, 'version': 4, 'changeset': 76175592, 'timestamp': datetime.datetime(2019, 10, 24, 21, 58, 3), 'user': 'jmapb', 'uid': 4400159, 'lat': 40.6575888, 'lon': -73.9901867, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42733768
{'id': 42733768, 'visible': True, 'version': 3, 'changeset': 2970028, 'timestamp': datetime.datetime(2009, 10, 27, 23, 8, 51), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.838948, 'lon': -73.916429, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5482302982
{'id': 5482302982, 'visible': True, 'version': 1, 'changeset': 57236671, 'timestamp': datetime.datetime(2018, 3, 16, 9, 52, 53), 'user': 'venkanna37', 'uid': 5680733, 'lat': 40.7199104, 'lon': -73.9276752, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42981177
{'id': 42981177, 'visible': True, 'version': 3, 'changeset': 76467557, 'timestamp': datetime.datetime(2019, 10, 31, 21, 1, 32), 'user': 'MapSpot', 'uid': 10183030, 'lat': 40.6148346, 'lon': -74.1357466, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5487797963
{'id': 5487797963, 'visible': True, 'version': 1, 'changeset': 57307013, 'timestamp': datetime.datetime(2018, 3, 19, 5, 52, 4), 'user': 'ranjithjoy', 'uid': 5623648, 'lat': 40.6959609, 'lon': -73.9768723, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42743451
{'id': 42743451, 'visible': True, 'version': 5, 'changeset': 62019769, 'timestamp': datetime.datetime(2018, 8, 27, 2, 3, 34), 'user': 'daniel_solow', 'uid': 1954307, 'lat': 40.8069763, 'lon': -73.9116586, 'tag': {'highway': 'traffic_signals', 'traffic_signals': 'signal'}}
This result object does not return rows. It has been closed automatically.
2881719244
{'id': 2881719244, 'visible': True, 'version': 1, 'changeset': 22563129, 'timestamp': datetime.datetime(2014, 5, 26, 13, 43, 41), 'user': 'ediyes', 'uid': 1240849, 'lat': 40.7505088, 'lon': -73.7164902, 'tag': {}}
This result object does not return rows. It has been closed automatically.
2482285604
{'id': 2482285604, 'visible': True, 'version': 2, 'changeset': 76919626, 'timestamp': datetime.datetime(2019, 11, 11, 16, 7, 34), 'user': 'MapSpot', 'uid': 10183030, 'lat': 40.6221644, 'lon': -74.0750851, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42814063
{'id': 42814063, 'visible': True, 'version': 4, 'changeset': 56476566, 'timestamp': datetime.datetime(2018, 2, 19, 0, 35, 19), 'user': 'daniel_solow', 'uid': 1954307, 'lat': 40.5734526, 'lon': -73.864493, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42893091
{'id': 42893091, 'visible': True, 'version': 3, 'changeset': 3157040, 'timestamp': datetime.datetime(2009, 11, 19, 5, 52, 46), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.747429, 'lon': -73.903581, 'tag': {}}
This result object does not return rows. It has been closed automatically.
2472695937
{'id': 2472695937, 'visible': True, 'version': 1, 'changeset': 18052299, 'timestamp': datetime.datetime(2013, 9, 26, 20, 54, 52), 'user': 'Korzun', 'uid': 1424765, 'lat': 40.7537131, 'lon': -73.9493264, 'tag': {}}
This result object does not return rows. It has been closed automatically.
4207403441
{'id': 4207403441, 'visible': True, 'version': 1, 'changeset': 39560352, 'timestamp': datetime.datetime(2016, 5, 25, 16, 29, 47), 'user': 'Komяpa', 'uid': 29320, 'lat': 40.6772639, 'lon': -73.7761693, 'tag': {}}

This result object does not return rows. It has been closed automatically.
42901030
{'id': 42901030, 'visible': True, 'version': 2, 'changeset': 3157040, 'timestamp': datetime.datetime(2009, 11, 19, 5, 53, 41), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.707893, 'lon': -73.734506, 'tag': {}}
This result object does not return rows. It has been closed automatically.
4971467489
{'id': 4971467489, 'visible': True, 'version': 1, 'changeset': 50297256, 'timestamp': datetime.datetime(2017, 7, 15, 3, 7, 42), 'user': 'dufekin', 'uid': 30521, 'lat': 40.611545, 'lon': -74.026679, 'tag': {'barrier': 'gate'}}
This result object does not return rows. It has been closed automatically.
43009285
{'id': 43009285, 'visible': True, 'version': 2, 'changeset': 3426638, 'timestamp': datetime.datetime(2009, 12, 22, 12, 26, 41), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.531777, 'lon': -74.189556, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5379311864
{'id': 5379311864, 'visible': True, 'version': 1, 'changeset': 55978785, 'timestamp': datetime.datetime(2018, 2, 1, 22, 0, 49), 'user': 'homeslice60148', 'uid': 365944, 'lat': 40.5839963, 'lon': -73.9927836, 'tag': {'barrier': 'block'}}
This result object does not return rows. It has been closed automatically.
42485616
{'id': 42485616, 'visible': True, 'version': 2, 'changeset': 2155102, 'timestamp': datetime.datetime(2009, 8, 15, 16, 17, 15), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.678466, 'lon': -73.928426, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42747780
{'id': 42747780, 'visible': True, 'version': 4, 'changeset': 58556697, 'timestamp': datetime.datetime(2018, 4, 30, 14, 15, 49), 'user': 'daniel_solow', 'uid': 1954307, 'lat': 40.8806886, 'lon': -73.9193107, 'tag': {'highway': 'stop', 'stop': 'all'}}
This result object does not return rows. It has been closed automatically.
5322542822
{'id': 5322542822, 'visible': True, 'version': 1, 'changeset': 55195014, 'timestamp': datetime.datetime(2018, 1, 5, 19, 17, 18), 'user': 'jmapb', 'uid': 4400159, 'lat': 40.6778476, 'lon': -73.9853952, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42468659
{'id': 42468659, 'visible': True, 'version': 2, 'changeset': 3218174, 'timestamp': datetime.datetime(2009, 11, 26, 7, 26, 57), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.640873, 'lon': -73.906687, 'tag': {}}
This result object does not return rows. It has been closed automatically.
6291245377
{'id': 6291245377, 'visible': True, 'version': 1, 'changeset': 67393815, 'timestamp': datetime.datetime(2019, 2, 20, 14, 28, 5), 'user': 'dhaird', 'uid': 9196096, 'lat': 40.5907025, 'lon': -74.2000225, 'tag': {}}
This result object does not return rows. It has been closed automatically.
598043799
{'id': 598043799, 'visible': True, 'version': 2, 'changeset': 7958070, 'timestamp': datetime.datetime(2011, 4, 24, 23, 15, 42), 'user': 'will l', 'uid': 35195, 'lat': 40.696744, 'lon': -73.981085, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5683628078
{'id': 5683628078, 'visible': True, 'version': 1, 'changeset': 59758355, 'timestamp': datetime.datetime(2018, 6, 12, 2, 21, 11), 'user': 'daniel_solow', 'uid': 1954307, 'lat': 40.7629462, 'lon': -73.8344567, 'tag': {}}
This result object does not return rows. It has been closed automatically.
43010184
{'id': 43010184, 'visible': True, 'version': 2, 'changeset': 3426638, 'timestamp': datetime.datetime(2009, 12, 22, 12, 27, 10), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.539909, 'lon': -74.182768, 'tag': {}}
This result object does not return rows. It has been closed automatically.
597378802
{'id': 597378802, 'visible': True, 'version': 1, 'changeset': 3415457, 'timestamp': datetime.datetime(2009, 12, 20, 17, 49, 39), 'user': 'NE2', 'uid': 207745, 'lat': 40.7408739, 'lon': -73.8506857, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5490732759
{'id': 5490732759, 'visible': True, 'version': 1, 'changeset': 57345581, 'timestamp': datetime.datetime(2018, 3, 20, 10, 7, 55), 'user': 'ranjithjoy', 'uid': 5623648, 'lat': 40.6747797, 'lon': -74.0178309, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5155176655
{'id': 5155176655, 'visible': True, 'version': 1, 'changeset': 52729999, 'timestamp': datetime.datetime(2017, 10, 8, 12, 40, 53), 'user': 'daniel_solow', 'uid': 1954307, 'lat': 40.7849272, 'lon': -73.7808387, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5488484896
{'id': 5488484896, 'visible': True, 'version': 1, 'changeset': 57313658, 'timestamp': datetime.datetime(2018, 3, 19, 10, 38, 33), 'user': 'TeresaPeteti', 'uid': 5648480, 'lat': 40.7587244, 'lon': -73.7740775, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42733542
{'id': 42733542, 'visible': True, 'version': 8, 'changeset': 63104686, 'timestamp': datetime.datetime(2018, 10, 1, 19, 32, 7), 'user': 'rdnaskela23', 'uid': 8757727, 'lat': 40.8205175, 'lon': -73.930726, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42939881
{'id': 42939881, 'visible': True, 'version': 3, 'changeset': 20577478, 'timestamp': datetime.datetime(2014, 2, 15, 14, 38, 39), 'user': 'ingalls', 'uid': 305985, 'lat': 40.671062, 'lon': -73.819692, 'tag': {'noexit': 'yes'}}
This result object does not return rows. It has been closed automatically.
42421806
{'id': 42421806, 'visible': True, 'version': 7, 'changeset': 27833107, 'timestamp': datetime.datetime(2015, 1, 1, 0, 11, 23), 'user': 'eugenebata', 'uid': 624003, 'lat': 40.7863627, 'lon': -73.9759753, 'tag': {'highway': 'traffic_signals'}}
This result object does not return rows. It has been closed automatically.
42887047
{'id': 42887047, 'visible': True, 'version': 2, 'changeset': 3157040, 'timestamp': datetime.datetime(2009, 11, 19, 5, 51, 37), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.671568, 'lon': -73.79031, 'tag': {}}
This result object does not return rows. It has been closed automatically.
4717611849
{'id': 4717611849, 'visible': True, 'version': 1, 'changeset': 46586880, 'timestamp': datetime.datetime(2017, 3, 5, 3, 33, 58), 'user': 'TheBestIdea', 'uid': 298513, 'lat': 40.644885, 'lon': -73.8769275, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5487837357
{'id': 5487837357, 'visible': True, 'version': 1, 'changeset': 57307368, 'timestamp': datetime.datetime(2018, 3, 19, 6, 15, 46), 'user': 'Teesta', 'uid': 6443638, 'lat': 40.753813, 'lon': -73.8361618, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42813808
{'id': 42813808, 'visible': True, 'version': 3, 'changeset': 11178793, 'timestamp': datetime.datetime(2012, 4, 4, 17, 12, 9), 'user': 'Roadrunner21', 'uid': 330773, 'lat': 40.598134, 'lon': -73.757527, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42497472
{'id': 42497472, 'visible': True, 'version': 3, 'changeset': 50514902, 'timestamp': datetime.datetime(2017, 7, 24, 3, 4, 23), 'user': 'rrov1', 'uid': 5404622, 'lat': 40.652446, 'lon': -73.92561, 'tag': {'highway': 'traffic_signals'}}
This result object does not return rows. It has been closed automatically.
3041969977
{'id': 3041969977, 'visible': True, 'version': 1, 'changeset': 25011023, 'timestamp': datetime.datetime(2014, 8, 25, 18, 33, 25), 'user': 'Korzun', 'uid': 1424765, 'lat': 40.7891828, 'lon': -73.9232755, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5488497356
{'id': 5488497356, 'visible': True, 'version': 1, 'changeset': 57313960, 'timestamp': datetime.datetime(2018, 3, 19, 10, 48, 36), 'user': 'venkanna37', 'uid': 5680733, 'lat': 40.6121148, 'lon': -74.034926, 'tag': {}}
This result object does not return rows. It has been closed automatically.
595801007
{'id': 595801007, 'visible': True, 'version': 2, 'changeset': 63105188, 'timestamp': datetime.datetime(2018, 10, 1, 19, 48, 6), 'user': 'rdnaskela23', 'uid': 8757727, 'lat': 40.8066556, 'lon': -73.9249587, 'tag': {}}

This result object does not return rows. It has been closed automatically.
2870611115
{'id': 2870611115, 'visible': True, 'version': 1, 'changeset': 22449031, 'timestamp': datetime.datetime(2014, 5, 20, 15, 50, 5), 'user': 'ediyes', 'uid': 1240849, 'lat': 40.6407935, 'lon': -73.9135388, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42471841
{'id': 42471841, 'visible': True, 'version': 3, 'changeset': 66621798, 'timestamp': datetime.datetime(2019, 1, 25, 6, 5, 45), 'user': 'eugenebata', 'uid': 624003, 'lat': 40.696784, 'lon': -73.956581, 'tag': {'highway': 'traffic_signals', 'traffic_signals': 'signal'}}
This result object does not return rows. It has been closed automatically.
2663757179
{'id': 2663757179, 'visible': True, 'version': 1, 'changeset': 20471987, 'timestamp': datetime.datetime(2014, 2, 9, 19, 52, 16), 'user': 'Roadsguy', 'uid': 734072, 'lat': 40.5349822, 'lon': -74.153121, 'tag': {}}
This result object does not return rows. It has been closed automatically.
2883612559
{'id': 2883612559, 'visible': True, 'version': 2, 'changeset': 34518104, 'timestamp': datetime.datetime(2015, 10, 8, 20, 23, 46), 'user': 'dufekin', 'uid': 30521, 'lat': 40.7710256, 'lon': -73.914307, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5552225272
{'id': 5552225272, 'visible': True, 'version': 1, 'changeset': 58086903, 'timestamp': datetime.datetime(2018, 4, 14, 11, 1, 34), 'user': 'regeda', 'uid': 4426091, 'lat': 40.6597998, 'lon': -73.8046891, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5487950857
{'id': 5487950857, 'visible': True, 'version': 1, 'changeset': 57309005, 'timestamp': datetime.datetime(2018, 3, 19, 7, 32, 7), 'user': 'venkanna37', 'uid': 5680733, 'lat': 40.608245, 'lon': -74.00041, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42512824
{'id': 42512824, 'visible': True, 'version': 8, 'changeset': 15849554, 'timestamp': datetime.datetime(2013, 4, 24, 14, 21, 32), 'user': 'watame', 'uid': 1380816, 'lat': 40.5972705, 'lon': -73.9509789, 'tag': {'crossing': 'traffic_signals', 'highway': 'traffic_signals'}}
This result object does not return rows. It has been closed automatically.
3527276336
{'id': 3527276336, 'visible': True, 'version': 1, 'changeset': 31271598, 'timestamp': datetime.datetime(2015, 5, 19, 0, 20, 30), 'user': 'Dami_Tn', 'uid': 2012449, 'lat': 40.6113883, 'lon': -73.9244959, 'tag': {'highway': 'traffic_signals'}}
This result object does not return rows. It has been closed automatically.
4207403423
{'id': 4207403423, 'visible': True, 'version': 1, 'changeset': 39560352, 'timestamp': datetime.datetime(2016, 5, 25, 16, 29, 46), 'user': 'Komяpa', 'uid': 29320, 'lat': 40.6767257, 'lon': -73.7772451, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42823629
{'id': 42823629, 'visible': True, 'version': 3, 'changeset': 2114249, 'timestamp': datetime.datetime(2009, 8, 12, 3, 43, 39), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.687038, 'lon': -73.843003, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42860543
{'id': 42860543, 'visible': True, 'version': 3, 'changeset': 3157040, 'timestamp': datetime.datetime(2009, 11, 19, 5, 48, 24), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.7438315, 'lon': -73.9417706, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5490656995
{'id': 5490656995, 'visible': True, 'version': 1, 'changeset': 57344660, 'timestamp': datetime.datetime(2018, 3, 20, 9, 38, 13), 'user': 'venkanna37', 'uid': 5680733, 'lat': 40.537865, 'lon': -74.1497516, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42506680
{'id': 42506680, 'visible': True, 'version': 7, 'changeset': 50606104, 'timestamp': datetime.datetime(2017, 7, 27, 3, 5, 24), 'user': 'rrov1', 'uid': 5404622, 'lat': 40.6813986, 'lon': -73.9535229, 'tag': {'highway': 'traffic_signals'}}
This result object does not return rows. It has been closed automatically.
42748926
{'id': 42748926, 'visible': True, 'version': 3, 'changeset': 2970028, 'timestamp': datetime.datetime(2009, 10, 27, 23, 11, 57), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.873792, 'lon': -73.876684, 'tag': {}}
This result object does not return rows. It has been closed automatically.
6558569013
{'id': 6558569013, 'visible': True, 'version': 1, 'changeset': 71417956, 'timestamp': datetime.datetime(2019, 6, 19, 21, 57, 37), 'user': 'dpawlyk', 'uid': 1719931, 'lat': 40.8575253, 'lon': -73.7904125, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42821282
{'id': 42821282, 'visible': True, 'version': 6, 'changeset': 12776514, 'timestamp': datetime.datetime(2012, 8, 18, 19, 40, 55), 'user': 'General Dreedle', 'uid': 174796, 'lat': 40.746144, 'lon': -73.89811, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5490217345
{'id': 5490217345, 'visible': True, 'version': 1, 'changeset': 57340415, 'timestamp': datetime.datetime(2018, 3, 20, 7, 5, 16), 'user': 'venkanna37', 'uid': 5680733, 'lat': 40.5910015, 'lon': -74.0880622, 'tag': {}}
This result object does not return rows. It has been closed automatically.
4197043449
{'id': 4197043449, 'visible': True, 'version': 1, 'changeset': 39449513, 'timestamp': datetime.datetime(2016, 5, 20, 12, 22, 26), 'user': 'ajithranka', 'uid': 3878839, 'lat': 40.7578833, 'lon': -73.7881165, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42739715
{'id': 42739715, 'visible': True, 'version': 3, 'changeset': 32487078, 'timestamp': datetime.datetime(2015, 7, 8, 4, 34, 19), 'user': 'Nicolas Love', 'uid': 2359041, 'lat': 40.8263125, 'lon': -73.9145842, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5487824262
{'id': 5487824262, 'visible': True, 'version': 1, 'changeset': 57307214, 'timestamp': datetime.datetime(2018, 3, 19, 6, 6, 16), 'user': 'venkanna37', 'uid': 5680733, 'lat': 40.584401, 'lon': -73.9581791, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42480198
{'id': 42480198, 'visible': True, 'version': 3, 'changeset': 3547427, 'timestamp': datetime.datetime(2010, 1, 5, 18, 0, 9), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.5841905, 'lon': -73.9848323, 'tag': {}}
This result object does not return rows. It has been closed automatically.
6123594755
{'id': 6123594755, 'visible': True, 'version': 8, 'changeset': 73891166, 'timestamp': datetime.datetime(2019, 8, 29, 16, 15, 48), 'user': 'rdnaskela23', 'uid': 8757727, 'lat': 40.7687967, 'lon': -73.8627932, 'tag': {}}
This result object does not return rows. It has been closed automatically.
602890392
{'id': 602890392, 'visible': True, 'version': 1, 'changeset': 3515670, 'timestamp': datetime.datetime(2010, 1, 2, 3, 26, 25), 'user': 'ceyockey', 'uid': 146680, 'lat': 40.6641354, 'lon': -73.9905435, 'tag': {}}
This result object does not return rows. It has been closed automatically.
2377652144
{'id': 2377652144, 'visible': True, 'version': 2, 'changeset': 38087649, 'timestamp': datetime.datetime(2016, 3, 26, 18, 14, 17), 'user': '3yoda', 'uid': 632378, 'lat': 40.5753942, 'lon': -73.9778872, 'tag': {'highway': 'traffic_signals', 'traffic_signals': 'signal'}}
This result object does not return rows. It has been closed automatically.
42729826
{'id': 42729826, 'visible': True, 'version': 2, 'changeset': 2970028, 'timestamp': datetime.datetime(2009, 10, 27, 23, 7, 51), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.852488, 'lon': -73.88723, 'tag': {}}
This result object does not return rows. It has been closed automatically.
2024822123
{'id': 2024822123, 'visible': True, 'version': 2, 'changeset': 66494346, 'timestamp': datetime.datetime(2019, 1, 21, 6, 52, 54), 'user': 'daniel_solow', 'uid': 1954307, 'lat': 40.8748296, 'lon': -73.886635, 'tag': {'highway': 'traffic_signals', 'traffic_signals': 'signal'}}
This result object does not return rows. It has been closed automatically.
2804121989
{'id': 2804121989, 'visible': True, 'version': 1, 'changeset': 21818590, 'timestamp': datetime.datetime(2014, 4, 20, 16, 43, 2), 'user': 'Korzun', 'uid': 1424765, 'lat': 40.7536597, 'lon': -73.8481859, 'tag': {}}

This result object does not return rows. It has been closed automatically.
2886149542
{'id': 2886149542, 'visible': True, 'version': 1, 'changeset': 22609051, 'timestamp': datetime.datetime(2014, 5, 28, 21, 54, 2), 'user': 'Rub21_nycbuildings', 'uid': 1781294, 'lat': 40.6547106, 'lon': -73.8282348, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42929390
{'id': 42929390, 'visible': True, 'version': 3, 'changeset': 65621771, 'timestamp': datetime.datetime(2018, 12, 19, 19, 54, 47), 'user': 'daniel_solow', 'uid': 1954307, 'lat': 40.7309839, 'lon': -73.734132, 'tag': {}}
This result object does not return rows. It has been closed automatically.
2546943590
{'id': 2546943590, 'visible': True, 'version': 1, 'changeset': 19072200, 'timestamp': datetime.datetime(2013, 11, 23, 14, 14, 36), 'user': 'lxbarth', 'uid': 589596, 'lat': 40.540872, 'lon': -74.2132663, 'tag': {}}
This result object does not return rows. It has been closed automatically.
1702839913
{'id': 1702839913, 'visible': True, 'version': 2, 'changeset': 37804469, 'timestamp': datetime.datetime(2016, 3, 13, 17, 46, 49), 'user': 'dwh1985', 'uid': 3176959, 'lat': 40.642536, 'lon': -73.7837721, 'tag': {}}
This result object does not return rows. It has been closed automatically.
4773151002
{'id': 4773151002, 'visible': True, 'version': 1, 'changeset': 47415861, 'timestamp': datetime.datetime(2017, 4, 3, 15, 18, 41), 'user': 'Komяpa', 'uid': 29320, 'lat': 40.8149492, 'lon': -73.8035657, 'tag': {}}
This result object does not return rows. It has been closed automatically.
3661361825
{'id': 3661361825, 'visible': True, 'version': 1, 'changeset': 32796912, 'timestamp': datetime.datetime(2015, 7, 22, 9, 30, 56), 'user': 'PlaneMad', 'uid': 1306, 'lat': 40.8569807, 'lon': -73.859913, 'tag': {}}
This result object does not return rows. It has been closed automatically.
3607948334
{'id': 3607948334, 'visible': True, 'version': 2, 'changeset': 32486821, 'timestamp': datetime.datetime(2015, 7, 8, 3, 44), 'user': 'Korzun', 'uid': 1424765, 'lat': 40.7981346, 'lon': -73.9211667, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42847760
{'id': 42847760, 'visible': True, 'version': 3, 'changeset': 2114249, 'timestamp': datetime.datetime(2009, 8, 12, 3, 46, 49), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.721938, 'lon': -73.817047, 'tag': {}}
This result object does not return rows. It has been closed automatically.
43004183
{'id': 43004183, 'visible': True, 'version': 2, 'changeset': 3426638, 'timestamp': datetime.datetime(2009, 12, 22, 12, 25, 21), 'user': 'woodpeck_fixbot', 'uid': 147510, 'lat': 40.597344, 'lon': -74.070958, 'tag': {}}
This result object does not return rows. It has been closed automatically.
5396155918
{'id': 5396155918, 'visible': True, 'version': 2, 'changeset': 59718371, 'timestamp': datetime.datetime(2018, 6, 10, 18, 8, 29), 'user': 'Robin van der Linde', 'uid': 5093765, 'lat': 40.6842008, 'lon': -73.8462537, 'tag': {'highway': 'traffic_signals'}}
This result object does not return rows. It has been closed automatically.
42516891
{'id': 42516891, 'visible': True, 'version': 3, 'changeset': 50604171, 'timestamp': datetime.datetime(2017, 7, 27, 0, 14, 50), 'user': 'rrov1', 'uid': 5404622, 'lat': 40.640556, 'lon': -73.976869, 'tag': {'highway': 'traffic_signals'}}
This result object does not return rows. It has been closed automatically.
1991938244
{'id': 1991938244, 'visible': True, 'version': 2, 'changeset': 16855298, 'timestamp': datetime.datetime(2013, 7, 7, 1, 32, 9), 'user': 'redsteakraw', 'uid': 139856, 'lat': 40.8557398, 'lon': -73.7691464, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42822855
{'id': 42822855, 'visible': True, 'version': 5, 'changeset': 39514768, 'timestamp': datetime.datetime(2016, 5, 23, 17, 26, 45), 'user': 'RichRico', 'uid': 2219338, 'lat': 40.7181067, 'lon': -73.7361051, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42757829
{'id': 42757829, 'visible': True, 'version': 4, 'changeset': 58051070, 'timestamp': datetime.datetime(2018, 4, 13, 1, 21, 15), 'user': 'daniel_solow', 'uid': 1954307, 'lat': 40.835205, 'lon': -73.865979, 'tag': {'highway': 'traffic_signals', 'traffic_signals': 'signal'}}
This result object does not return rows. It has been closed automatically.
5490639180
{'id': 5490639180, 'visible': True, 'version': 1, 'changeset': 57344572, 'timestamp': datetime.datetime(2018, 3, 20, 9, 35, 18), 'user': 'Iqhra', 'uid': 6371645, 'lat': 40.5954799, 'lon': -73.7546398, 'tag': {}}
This result object does not return rows. It has been closed automatically.
42841245
{'id': 42841245, 'visible': True, 'version': 4, 'changeset': 30005942, 'timestamp': datetime.datetime(2015, 4, 6, 3, 28, 38), 'user': 'Korzun', 'uid': 1424765, 'lat': 40.7268634, 'lon': -73.8904213, 'tag': {}}
This result object does not return rows. It has been closed automatically.
1764405363
{'id': 1764405363, 'visible': True, 'version': 2, 'changeset': 11694145, 'timestamp': datetime.datetime(2012, 5, 24, 23, 32, 44), 'user': 'Eliyak', 'uid': 439046, 'lat': 40.8624952, 'lon': -73.9225476, 'tag': {'highway': 'traffic_signals'}}

KeyboardInterrupt:

In [360]:
read_sql("show processlist")

,Id,User,Host,db,Command,Time,State,Info
0,2,rdsadmin,localhost:42806,None,Sleep,6,,None
1,12049,admin,172.31.36.235:43282,cx4242,Sleep,14991,,None
2,27893,admin,172.31.36.235:56314,cx4242,Sleep,14086,,None
3,75966,admin,172.31.36.235:49202,cx4242,Sleep,10995,,None
4,81548,admin,172.31.36.235:55818,cx4242,Sleep,10646,,None
5,88308,admin,172.31.36.235:40954,cx4242,Sleep,10254,,None
6,104404,admin,172.31.36.235:55876,cx4242,Sleep,9317,,None
7,117660,admin,172.31.36.235:35458,cx4242,Sleep,3891,,None
8,117689,admin,172.31.36.235:38034,cx4242,Sleep,2483,,None
9,117691,admin,172.31.36.235:38172,cx4242,Sleep,2409,,None
10,117694,admin,172.31.36.235:38550,cx4242,Sleep,2201,,None
11,117696,admin,172.31.36.235:38680,cx4242,Sleep,2131,,None
12,117698,admin,172.31.36.235:38796,cx4242,Sleep,2070,,None
13,117701,admin,172.31.36.235:39102,cx4242,Sleep,1904,,None
14,117704,admin,172.31.36.235:40092,cx4242,Sleep,1357,,None
15,117708,admin,172.31.36.235:41258,cx4242,Sleep,720,,None
16,117711,admin,172.31.36.235:41586,cx4242,Sleep,539,,None
17,117713,admin,172.31.36.235:41734,cx4242,Sleep,460,,None
18,117717,admin,172.31.36.235:42050,cx4242,Sleep,288,,None
19,117719,admin,172.31.36.235:42572,cx4242,Query,0,starting,show processlist

In [366]:
read_sql("select * from OSM_nodes limit 5")

                                junction_id osm_node_id  latitude  longitude
0  c2584dab13fc7e96dc9a3b3c59cc7f7a2977db16  4374613431   40.7767   -73.9360
1  0de9ea3af5a8528fd39e967f754a8d99a3ad263a    42830605   40.7203   -73.7825
2  63365b0798cfdd824caa5f67175a75bda00ada9d  4205184438   40.8699   -73.8260
3  2772fb90b5fa187c96bff4abe57bfaedb10d3484    42428024   40.7727   -73.9495
4  13c7ebb4db8f7f4557d361cac1afcec1e607d2d3  3788308925   40.7822   -73.8297

In [389]:
start_lat = 40.65459689980922
start_lng = -73.97953033447267
end_lat =  40.65355504328842
end_lng = -73.90468597412111
delta= 0.001
day = 8
month = 4
year = 2019
max_start_lat = start_lat + delta
min_start_lat = start_lat - delta
max_end_lat = end_lat + delta
min_end_lat = end_lat - delta
read_sql("SELECT day, month, year, start_lat, start_long, end_lat, end_long, speed_mph_mean from uber \
            join (select junction_id as start_junction_id, osm_node_id as start_osm_node, latitude as start_lat, longitude as start_long from OSM_nodes) as start_osm_nodes\
                on  start_osm_nodes.start_junction_id=uber.start_junction_id \
            join (select junction_id as end_junction_id, osm_node_id as end_osm_node, latitude as end_lat, longitude as end_long from OSM_nodes) as end_osm_nodes \
                on  end_osm_nodes.end_junction_id=uber.end_junction_id \
                where day={} and month={} and year={} \
                and start_lat > {} and start_lat < {} \
                and end_lat > {} and end_lat < {} \
             limit 5000".format(day, month, year, min_start_lat, max_start_lat, min_end_lat, max_end_lat))

,day,month,year,start_lat,start_long,end_lat,end_long,speed_mph_mean
0,8,4,2019,40.6543,-73.9191,40.6543,-73.9185,21.586
1,8,4,2019,40.6543,-73.9191,40.6543,-73.9185,23.829
2,8,4,2019,40.6543,-73.9191,40.6543,-73.9185,25.708
3,8,4,2019,40.6543,-73.9191,40.6543,-73.9185,27.501
4,8,4,2019,40.6543,-73.9191,40.6543,-73.9185,22.097
...,...,...,...,...,...,...,...,...
4287,8,4,2019,40.6544,-73.9204,40.6545,-73.9211,11.353
4288,8,4,2019,40.6544,-73.9204,40.6545,-73.9211,20.479
4289,8,4,2019,40.6544,-73.9204,40.6545,-73.9211,6.152
4290,8,4,2019,40.6543,-73.9203,40.6542,-73.9196,24.695
4291,8,4,2019,40.6543,-73.9203,40.6542,-73.9196,20.678

In [386]:
read_sql("SELECT day, month, year, start_lat, start_long, end_lat, end_long, speed_mph_mean from uber join (select junction_id as start_junction_id, osm_node_id as start_osm_node, latitude as start_lat, longitude as start_long from OSM_nodes) as start_osm_nodes on start_osm_nodes.start_junction_id=uber.start_junction_id join (select junction_id as end_junction_id, osm_node_id as end_osm_node, latitude as end_lat, longitude as end_long from OSM_nodes) as end_osm_nodes on end_osm_nodes.end_junction_id=uber.end_junction_id where day=8 and month=4 and year=2019 and start_lat > 40.65359689980922 and start_lat < 40.65559689980922 and end_lat > 40.65255504328842 and end_lat < 40.65455504328842 and start_lng > -73.98053033447268 and start_lng < -73.97853033447267 and end_lng > -73.90568597412111 and end_lng < -73.9036859741211 limit 5000")

(MySQLdb._exceptions.OperationalError) (1054, "Unknown column 'start_lng' in 'where clause'")
[SQL: SELECT day, month, year, start_lat, start_long, end_lat, end_long, speed_mph_mean from uber join (select junction_id as start_junction_id, osm_node_id as start_osm_node, latitude as start_lat, longitude as start_long from OSM_nodes) as start_osm_nodes on start_osm_nodes.start_junction_id=uber.start_junction_id join (select junction_id as end_junction_id, osm_node_id as end_osm_node, latitude as end_lat, longitude as end_long from OSM_nodes) as end_osm_nodes on end_osm_nodes.end_junction_id=uber.end_junction_id where day=8 and month=4 and year=2019 and start_lat > 40.65359689980922 and start_lat < 40.65559689980922 and end_lat > 40.65255504328842 and end_lat < 40.65455504328842 and start_lng > -73.98053033447268 and start_lng < -73.97853033447267 and end_lng > -73.90568597412111 and end_lng < -73.9036859741211 limit 5000]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [387]:
"SELECT day, month, year, start_lat, start_long, end_lat, end_long, speed_mph_mean from uber \
            join (select junction_id as start_junction_id, osm_node_id as start_osm_node, latitude as start_lat, longitude as start_long from OSM_nodes) as start_osm_nodes\
                on  start_osm_nodes.start_junction_id=uber.start_junction_id \
            join (select junction_id as end_junction_id, osm_node_id as end_osm_node, latitude as end_lat, longitude as end_long from OSM_nodes) as end_osm_nodes \
                on  end_osm_nodes.end_junction_id=uber.end_junction_id \
                where day={} and month={} and year={} \
                and start_lat > {} and start_lat < {} \
                and end_lat > {} and end_lat < {} \
             limit 5000".format(day, month, year, min_start_lat, max_start_lat, min_end_lat, max_end_lat)

'SELECT day, month, year, start_lat, start_long, end_lat, end_long, speed_mph_mean from uber             join (select junction_id as start_junction_id, osm_node_id as start_osm_node, latitude as start_lat, longitude as start_long from OSM_nodes) as start_osm_nodes                on  start_osm_nodes.start_junction_id=uber.start_junction_id             join (select junction_id as end_junction_id, osm_node_id as end_osm_node, latitude as end_lat, longitude as end_long from OSM_nodes) as end_osm_nodes                 on  end_osm_nodes.end_junction_id=uber.end_junction_id                 where day=8 and month=4 and year=2019                 and start_lat > 40.65359689980922 and start_lat < 40.65559689980922                 and end_lat > 40.65255504328842 and end_lat < 40.65455504328842              limit 5000'

In [388]:
read_sql("SELECT day, month, year, start_lat, start_long, end_lat, end_long, speed_mph_mean from uber \
            join (select junction_id as start_junction_id, osm_node_id as start_osm_node, latitude as start_lat, longitude as start_long from OSM_nodes) as start_osm_nodes\
                on  start_osm_nodes.start_junction_id=uber.start_junction_id \
            join (select junction_id as end_junction_id, osm_node_id as end_osm_node, latitude as end_lat, longitude as end_long from OSM_nodes) as end_osm_nodes \
                on  end_osm_nodes.end_junction_id=uber.end_junction_id limit 5000")

,day,month,year,start_lat,start_long,end_lat,end_long,speed_mph_mean
0,8,4,2019,40.7203,-73.7825,40.7203,-73.7835,31.405
1,8,4,2019,40.7203,-73.7825,40.7203,-73.7835,27.861
2,29,4,2019,40.7203,-73.7825,40.7203,-73.7835,33.169
3,13,4,2019,40.7203,-73.7825,40.7203,-73.7835,30.379
4,27,4,2019,40.7203,-73.7825,40.7203,-73.7835,27.069
...,...,...,...,...,...,...,...,...
4995,5,4,2019,40.5967,-73.9993,40.5973,-73.9986,17.419
4996,6,4,2019,40.5967,-73.9993,40.5973,-73.9986,15.673
4997,11,4,2019,40.5967,-73.9993,40.5973,-73.9986,12.508
4998,12,4,2019,40.5967,-73.9993,40.5973,-73.9986,17.574
4999,1,4,2019,40.5967,-73.9993,40.5973,-73.9986,16.741

In [392]:
read_sql("SELECT day, month, year, start_lat, start_long, end_lat, end_long, speed_mph_mean from uber join (select junction_id as start_junction_id, osm_node_id as start_osm_node, latitude as start_lat, longitude as start_long from OSM_nodes) as start_osm_nodes on  start_osm_nodes.start_junction_id=uber.start_junction_id join (select junction_id as end_junction_id, osm_node_id as end_osm_node, latitude as end_lat, longitude as end_long from OSM_nodes) as end_osm_nodes on  end_osm_nodes.end_junction_id=uber.end_junction_id where day=8 and month=4 and year=2019 and start_lat > 40.65359689980922 and start_lat < 40.65559689980922 and end_lat > 40.65255504328842 and end_lat < 40.65455504328842 limit 5000")

,day,month,year,start_lat,start_long,end_lat,end_long,speed_mph_mean
0,8,4,2019,40.6543,-73.9191,40.6543,-73.9185,21.586
1,8,4,2019,40.6543,-73.9191,40.6543,-73.9185,23.829
2,8,4,2019,40.6543,-73.9191,40.6543,-73.9185,25.708
3,8,4,2019,40.6543,-73.9191,40.6543,-73.9185,27.501
4,8,4,2019,40.6543,-73.9191,40.6543,-73.9185,22.097
...,...,...,...,...,...,...,...,...
4287,8,4,2019,40.6544,-73.9204,40.6545,-73.9211,11.353
4288,8,4,2019,40.6544,-73.9204,40.6545,-73.9211,20.479
4289,8,4,2019,40.6544,-73.9204,40.6545,-73.9211,6.152
4290,8,4,2019,40.6543,-73.9203,40.6542,-73.9196,24.695
4291,8,4,2019,40.6543,-73.9203,40.6542,-73.9196,20.678